<div class="col">
  <div class="row mt-4 head-text-logo">
    <img
      src="../assets/images/user.png"
      alt="User Icon"
      style="height: 50px"
      class="img-responsive mt-2"
    />
    <div class="col">
      <p>
        Project Management <br />
        System
      </p>
    </div>
  </div>

  <div class="row">
    <span class="mt-2">
      <button class="add-project-btn" (click)="loadProjectForm()">+</button>Add
      Projects
    </span>
  </div>
</div>

<hr id="outline" />

<div class="col card-holder">
  <div
    class="row justify-content-between mb-3 p-3"
    *ngFor="let project of projects"
    routerLinkActive="active"
    [routerLink]="'project/' + project.projectId"
    (click)="passIndex(project.projectId)"
  >
    <span>{{ project.projectName }}</span>
    <span
      class="circular border border-success d-flex align-items-center text-center"
    >
      <span class="m-auto inner" style="color: black !important"
        >{{ project.progress }}%</span
      >
    </span>
  </div>
</div>
