.head-text-logo p {
    font-size: 120%;
    font-weight: 500;
    margin-left: 20px;
    word-wrap: break-word;
}

hr {
    margin-top: 5px; 
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.card-holder {
    height: 65vh;
    padding: 0 15px;
    padding-top: 20px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card-holder::-webkit-scrollbar {
    display: none;
}

.card-holder .row {
    height: 100px !important;
    box-shadow: 3px 3px 10px #0000004d;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
}

.card-holder .row:hover {
    background-color:  #49d8a0;
    transition: all 0.2s ease;
}

.border-success {
    border-color: #d84981 !important;
}

.add-project-btn {
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #49d8a0;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 12px;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.circular {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background: linear-gradient(to top, #d84981 40%, #fff 1%) !important;
}