<div class="mt-3 head-text-logo flex-box">
      <div class="logo"> <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png" alt="User Icon" style="height: 40px;"> </div>
      <p>Project Management<br>System</p>
    </div>
    <span class="add-projects-label mt-2"><button class="add-project-btn">+</button>Add Projects</span>
    <hr id="outline">
    <div class="card-holder flex-box" id="projectList">
      <div class="project-card flex-box"><p>Name of the Project--progress circle</p></div>
      <div class="project-card flex-box"><p>Name of the Project--progress circle</p></div>
      <div class="project-card flex-box"><p>Name of the Project--progress circle</p></div>
      <div class="project-card flex-box"><p>Name of the Project--progress circle</p></div>
      <div class="project-card flex-box"><p>Name of the Project--progress circle</p></div>
      <div class="project-card flex-box"><p>Name of the Project--progress circle</p></div>
    </div>
