<ul class="nav nav-pills mt-2 mb-2 pb-1">
    <li class="nav-item bg-primary mr-2 rounded">
      <a class="nav-link" routerLinkActive="active" routerLink="/detail">Details</a>
    </li>
    <li class="nav-item bg-primary mr-2 rounded">
      <a class="nav-link" routerLinkActive="active" routerLink="/resource">Resources</a>
    </li>
    <li class="nav-item bg-primary mr-2 rounded">
      <a class="nav-link" routerLinkActive="active" routerLink="/invoice">Invoice</a>
    </li>
    <li class="nav-item bg-primary rounded">
      <a class="nav-link" routerLinkActive="active" routerLink="/status">Status</a>
    </li>
  </ul>
