.heading {
    font-weight: 700;
    margin-bottom: 0;
}

.col {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.editIcon {
    cursor: pointer;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
}

.circular {
    border: 0.4px solid #fff;
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
    background: linear-gradient(to top, #49d8a0 40%, #fff 1%);
}

.inner {
    padding: 3vh 2.5vh;
    border-radius: 50%;
    background-color: #fff;
}

.moving-card img {
    animation: rotatingCard 5s infinite ease-in-out alternate-reverse;
}

@keyframes rotatingCard {
    0% {transform: rotateY(180deg)}
    100% {transform: rotateY(0deg)}
}