<div class="mt-3">
    <button class="btn btn-primary mr-1"  (click)="loadResourceForm()">+</button>Add Resource
</div>

<table class="mt-4 table">
    <thead>
        <tr>
            <th class="bg-success">Name</th>
            <th class="bg-success">Email</th>
            <th class="bg-success">Billable</th> 
            <th class="bg-success">Rate Per Hour</th>           
        </tr>
    </thead>

    <!-- Dynamically populate table body -->
    <tbody>
        <tr>
            <td>Name</td>
            <td>Email Address</td>
            <td>True</td>
            <td>100</td>
            <td><button class="btn btn-primary" (click)="editResource()">Ed</button></td>
            <td>Del</td>

        </tr>
        <tr>
            <td>Name</td>
            <td>Email Address</td>
            <td>True</td>
            <td>100</td>
            <td>Ed</td>
            <td>Del</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Email Address</td>
            <td>True</td>
            <td>100</td>
            <td>Ed</td>
            <td>Del</td>
        </tr>
    </tbody>
</table>