<div class="row justify-content-between pr-4 pl-4 pb-2 pt-3">
  <div class="left-side-details" style="max-width: 60%">
    <p class="heading">Project Name</p>
    <p class="content">{{ project?.projectName }}</p>

    <p class="heading">Description</p>
    <p class="content">{{ project?.description }}</p>

    <p class="heading">Technologies Used</p>
    <p class="content">{{ project?.technologies | jsonparse }}</p>

    <p class="heading">Total Hours Spent</p>
    <p class="content">8:30 hour(s)</p>
  </div>

  <div class="right-side-details" style="max-width: 30%">
    <div class="row pr-5">
      <div class="start-date-box mr-5">
        <p class="heading">Start Date</p>
        <p class="content">{{ project?.startDate }}</p>
      </div>
      <div class="end-date-box">
        <p class="heading">End Date</p>
        <p class="content">{{ project?.endDate }}</p>
      </div>
    </div>

    <div class="row pt-3">
      <span
        class="circular border border-success d-flex align-items-center text-center"
      >
        <span class="m-auto">{{ project?.progress }}%</span>
      </span>
    </div>
  </div>
</div>

<div class="row pr-4 pl-4 pb-2 pt-2">
  <div class="col">
    <span class="heading">Hours Spent Per Resource</span>
    <table class="mt-2 table">
      <thead>
        <tr>
          <th class="bg-success">Name</th>
          <th class="bg-success">Email</th>
          <th class="bg-success">Hours Spent</th>
        </tr>
      </thead>

      <!-- Dynamically populate table body -->
      <tbody>
        <tr>
          <td>Name</td>
          <td>Email Address</td>
          <td>Hours</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>Email Address</td>
          <td>Hours</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>Email Address</td>
          <td>Hours</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
