<div class="wrapper">
  <!-- Project listing -->
  <div class="col-md-3 bg-primary">
    <div class="col-md-12">
      <app-project-list></app-project-list>
    </div>
  </div>

  <div class="col-md-9 mt-3">
    <div class="col-md-12">
      <!-- Header Section -->
      <div class="row" style="height: 15vh;">
        <div class="col p-3 bg-success">
          <div class="col-md-12">

            <p>PROJECTS</p>

          </div>
        </div>
        <div class="col-2 p-3 bg-success">
          <div class="col-md-12">

            <p>Welcome</p>
          
          </div>

        </div>
      </div>

      <!-- Project Details (Body) Section -->
      <ul class="nav nav-pills mt-2">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" href="#">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" href="#">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" href="#">Invoice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" href="#">Status</a>
        </li>
      </ul>

      <div class="row bg-warning mt-2" style="height: 63vh;">
        <div class="col-md-12">
        
          <h1>PROJECT DETAILS BODYYY</h1>

        </div>
      </div>

      <div class="row bg-success mt-2 mb-2 p-3">Footer</div>
    </div>

  </div>