/* :root {
    --primary-color: var( #49d8a0);
    --secondary-color: var(rgb(246, 247, 251));
    --highlight: var(rgb(208, 209, 212));
} */

@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url('../assets/fonts/Manrope-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/Manrope-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-ExtraLight';
    src: url('../assets/fonts/Manrope-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/Manrope-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Light';
    src: url('../assets/fonts/Manrope-Light.woff2') format('woff2'),
        url('../assets/fonts/Manrope-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Bold';
    src: url('../assets/fonts/Manrope-Bold.woff2') format('woff2'),
        url('../assets/fonts/Manrope-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Regular';
    src: url('../assets/fonts/Manrope-Regular.woff2') format('woff2'),
        url('../assets/fonts/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-SemiBold';
    src: url('../assets/fonts/Manrope-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/Manrope-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope-Medium';
    src: url('../assets/fonts/Manrope-Medium.woff2') format('woff2'),
        url('../assets/fonts/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html, 
body,
textarea,
input[type="date"],
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="checkbox"]
{font-family: "Manrope-Medium", Arial, Helvetica; color: #464648; font-weight: 300; font-size: 16px; text-rendering: optimizeLegibility;}

.wrapper {
    display: flex;
    width: 100%;
}

.mr-0 {
    margin-right: 0px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.btn-primary {
    background-color:#49d8a0 !important;
    border-color: #49d8a0;
}

.bg-primary {
    background-color:#fff !important;
}

.bg-success {
    background-color:#49d8a0 !important;
}

.bg-dark {
    background-color:rgb(246, 247, 251) !important;
}

hr {
    margin-top: 5px; 
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

h1 {
    font-size: 150%;
}

.nav-link {
    color: #000000;
}

.table td, .table th {
    border: 1px solid #dee2e6 !important;
}

th {
    color: #ffffff;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #49d8a0 !important;
    box-shadow: 1px -1px 8px rgba(0, 0, 0, 0.3);
}

.tab-height {
    overflow-y: scroll;
}

.circular {
    border: 0.4px solid #fff;
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
    background: linear-gradient(to top, #49d8a0 40%, #fff 1%);
}
