/* :root {
    --primary-color: var( #49d8a0);
    --secondary-color: var(rgb(246, 247, 251));
    --highlight: var(rgb(208, 209, 212));
} */
body {
    color: #464648;
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.wrapper {
    display: flex;
    width: 100%;
}

.mr-0 {
    margin-right: 0px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.btn-primary {
    background-color:#49d8a0 !important;
    border-color: #49d8a0;
}

.bg-primary {
    background-color:#fff !important;
}

.bg-success {
    background-color:#49d8a0 !important;
}

.bg-dark {
    background-color:rgb(246, 247, 251) !important;
}

hr {
    margin-top: 5px; 
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

h1 {
    font-size: 150%;
}

.nav-link {
    color: #000000;
}

.table td, .table th {
    border: 1px solid #dee2e6 !important;
}

th {
    color: #ffffff;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #49d8a0 !important;
    box-shadow: 1px -1px 8px rgba(0, 0, 0, 0.3);
}

.tab-height {
    overflow-y: scroll;
}
