<div class="mt-3 mb-3"><button class="btn btn-primary mr-1">+</button>Add Status</div>

<div class="history-tab">
  <div class="entries">
    <span class="history-date"><span>13/11/2020</span></span>
    <div class="history-tab__contents">
      <span class="history__resource-name">Name</span>
      <span class="history__resource-email">email@qburst.com</span>
      <span class="history__activity-type">Coding</span>
      <span class="history__time-spent">02:30 hour(s)</span>
      <span class="separator-line"></span>
      <span class="history__posted-time" style="font-size: 80%"
        >Posted On: <br />13/11/2020 12:10:50</span
      >
    </div>
  </div>
  <div class="entries">
    <span class="history-date"><span>12/11/2020</span></span>
    <div class="history-tab__contents">
        <span class="history__resource-name">Name</span>
        <span class="history__resource-email">email@qburst.com</span>
      <span class="history__activity-type">Requirements analysis</span>
      <span class="history__time-spent">08:00 hour(s)</span>
      <span class="separator-line"></span>
      <span class="history__posted-time" style="font-size: 80%"
        >Posted On: <br />12/11/2020 19:56:12</span
      >
    </div>
    <div class="history-tab__contents">
        <span class="history__resource-name">Name</span>
        <span class="history__resource-email">email@qburst.com</span>
      <span class="history__activity-type">Coding</span>
      <span class="history__time-spent">08:00 hour(s)</span>
      <span class="separator-line"></span>
      <span class="history__posted-time" style="font-size: 80%"
        >Posted On: <br />12/11/2020 18:01:03</span
      >
    </div>
  </div>
</div>
